body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
}

main, nav, aside {
    background-color: white;
}

aside {
    float: left;
}

main {
    float: left;
}

img {
    max-width: 75%;
    height: auto;
}
