/* Allmän sidolayout */
body {
    width: 90%;
    margin: 0 auto;
    border-left: 1px solid rgb(91, 0, 183);
    border-right: 1px solid rgb(91, 0, 183);
}


aside, main {
    margin: 20px 10px 20px 10px;
    float: left;
}

aside {
    width: 240px;
}

#openingHours {
    margin: 15px;
    margin-left: 28px;
}

main {
    width: 69%;
}

/* Text-styling */
p, h1, h2, h3 {
    padding: 20px;
    padding-bottom: 10px;
    clear: both;
}

/* Formulär-layout */
.button:hover {
    background-color: gray;
}