/*  
	Nollställning från:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Stylning sid-element */
body {
    font-family: Georgia, Verdana, serif;
    font-size: 12pt;
}

nav {
    width: 100%;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid rgb(91, 0, 183);
    border-bottom: 1px solid rgb(91, 0, 183);
}

nav a:link, nav a:visited {
    color: rgb(91, 0, 183);
}

nav a:hover {
    background-color: rgb(219, 183, 255);
}

.active a:link, li.active a:visited {
    background-color: rgb(91, 0, 183);
    color: white;
}

aside {
    clear: left;
}

footer {
    clear: both;
}

/* Bakgrundsfärg header och footer */
.page {
    width: 100%;
    background-color: rgb(91, 0, 183);
    text-align: center;
}

/* Stylning text-element */
h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

.page p {
    padding: 7px;
    color: white;
}

/* Tabell-layout */
table * {
    border: 1px solid black;
    padding: 3px;
}

thead, tfoot {
    text-align: center;
    font-weight: bold;
}

/* Formulär-layout */
form {
    border: 1px solid rgb(91, 0, 183)
}

fieldset {
    border: 1px solid rgb(219, 183, 255)
}

legend {
    font-weight: bold;
    padding: 3px;
    margin: 2px;
}

select, textarea, input[type="text"], input[type="email"], input[type="tel"] {
    margin: 3px;
}
