/*  
	Nollst채llning fr책n:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Stylning sid-element */
body {
    font-family: Georgia, Verdana, serif;
    font-size: 12pt;
}

#sign {
    padding: 0;
}

nav {
    margin:0;
    padding:0;
    text-align: center;
}

nav li {
    display: inline;
    margin-left: -4px;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(235, 215, 255);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    -ie-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px; 
    border: 2px solid rgb(91, 0, 183);
}

nav a:link, nav a:visited {
    color: rgb(91, 0, 183);
}

nav a:hover {
    background-color: rgb(219, 183, 255);
}

.active a:link, li.active a:visited {
    background-color: rgb(91, 0, 183);
    color: white;
}

#news {
	border-left: 1px solid rgb(91, 0, 183);
}

aside {
    clear: left;
}

footer {
    clear: both;
}

/* Bakgrundsf채rg header och footer */
.page {
    width: 100%;
    background-color: rgb(91, 0, 183);
    text-align: center;
}

/* Stylning text-element */
h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    padding: 20px;
}

.sign p {
    font-style: italic;
    border-bottom: 1px dotted rgb(219, 183, 255);
}

.page p {
    padding: 7px;
    color: white;
}

/* Tabell-layout */
table * {
    border: 1px solid black;
    padding: 4px;
}

thead, tfoot {
    text-align: center;
    font-weight: bold;
}

/* Formul채r-layout */
form {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    border: 2px solid rgb(91, 0, 183);
}

fieldset {
    padding: 3px;
    border: 1px solid rgb(219, 183, 255);
}

legend {
    font-weight: bold;
    padding: 3px;
    margin: 2px;
}

select, textarea, input[type="text"], input[type="email"], input[type="tel"] {
    margin: 3px;
}

label, textarea, .warning { 
    padding-left: 5px;
}
