/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.9em;
}

#sign {
    max-width: 100%;
    height: auto;
}

nav {
    display: block;
}

nav a {
    padding: 9px;
}

aside {
    width: 95%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#find, #open {
    float: left;
    clear: none;
}

#openingHours {
    width: 175px;
    margin-left: 10px;
}

#address {
    width: 220px;
}

main {
    width: 95%;
}

/* Text-styling */
p, h1, h2, h3 {
    padding: 10px;
    padding-right: 20px;
    clear: both;
}

/* Layout bilder */
img {
    max-width: 250px;
    height: auto;
    padding-bottom: 10px;
}

.cakeImage {
    max-width: 225px;
    height: auto;
    padding: 10px;
}

.display {
    text-align: center;
}

.right, .left {
    display: block;
}

/* Formulär-utseende */
#buttons {
    margin-top: 7px;
    text-align: center;
}