/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.9em;
    border: none;
}

nav a {
    padding: 9px;
}

aside {
    width: 410px;
    float: none;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}

#find, #open {
    float: left;
    clear: none;
}

#openingHours {
    width: 165px;
    margin-left: 10px;
    margin-top: 0;
}

#address {
    width: 20px;
}

main {
    width: 98%;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
}

/* Text-styling */
p, h1, h2, h3 {
    padding: 10px;
}

/* Layout bilder */
.cakeImage {
    max-width: 225px;
}