body {
    width: 100%;
    min-width: 481px;
    max-width: 1024px;
    font-size: 0.9em;
}

#sign {
    width: 100%;
    min-width: 480px;
    max-width: 600px;
    height: auto;
}

nav {
    display: block;
}

aside {
    width: 95%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#find, #open {
    float: left;
    clear: none;
}

#openingHours {
    width: 175px;
    margin-left: 10px;
}

#address {
    width: 220px;
}

main {
    width: 95%;
    float: right;
}

p, h1, h2, h3 {
    padding: 10px;
    padding-right: 20px;
}


img {
    max-width: 250px;
    height: auto;
    padding-bottom: 10px;
}

.right, .left {
    display: block;
}