/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.8em;
}

main {
    float: left;
    clear: none;
    text-align: center;
    margin-bottom: 5px;
}

/* Layout header & navigation */
#sign {
    max-width: 100%;
    height: auto;
}

/* Tabell-layout */
table {
    margin-top: 15px;
    margin-bottom: 15px;
}

th, td {
    padding: 3px 2px 3px 2px;
}

th {
    font-size: 1.1em;
}

#find, #open {
    float: left;
    clear: none;
}

#openingHours {
    width: 133px;
    margin-left: 1px;
}

#address {
    width: 186px;
}

/* Rubriker */
h1, h2, h3, p, table {
    padding: 10px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.2em;
}


/* Bild-layout */
img {
    max-width: 225px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.right, .left {
    display: block;
}

/* Utseende - formulär */
form {
    max-width: 95%;
    padding: 5px;
    margin-left: 2px;
    text-align: left;
}

label, textarea { 
    padding-left: 5px;
}

#buttons {
    margin-top: 7px;
    text-align: center;
}
