/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.8em;
    border: none;
}

main {
    width: 95%;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    text-align: center;
}

aside {
    width: 320px;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}

nav a {
    padding: 8px;
}

#find, #open {
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
}

#openingHours {
    width: 124px;
    margin-left: 1px;
    font-size: 0.95em;
}

#address {
    width: 175px;
    font-size: 0.95em;
}

/* Tabell-layout */
table {
    margin-top: 15px;
    margin-bottom: 15px;
}

th, td {
    padding: 3px 2px 3px 2px;
}

th {
    font-size: 1.1em;
}

/* Rubriker */
h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.2em;
}

/* Bild-layout */
img {
    max-width: 225px;
    margin: 0 auto;
}

/* Utseende - formulär */
form {
    max-width: 95%;
    padding: 5px;
    margin-left: 2px;
    text-align: left;
}