/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.9em;
}

#sign {
    max-width: 100%;
    height: auto;
}

aside, main {
    margin: 20px 10px 20px 10px;
    float: left;
}

aside {
    width: 210px;
}

#openingHours {
    margin: 15px;
    margin-left: 28px;
}

main {
    width: 57%;
}

/* Text-styling */
p, h1, h2, h3 {
    padding: 10px;
    padding-right: 20px;
}

/* Layout bilder */
img {
    max-width: 280px;
    height: auto;
    padding-bottom: 10px;
}

.display {
    text-align: center;
}

.right, .left {
    display: block;
}

/* Formulär-utseende */
#buttons {
    margin-top: 7px;
    text-align: center;
}