/* Allmän sidolayout */
body {
    width: 100%;
    font-size: 0.9em;
    border: none;
}

aside, main {
    margin: 20px 10px 20px 10px;
    float: left;
}

aside {
    width: 220px;
}

#openingHours {
    margin: 15px;
    margin-left: 28px;
}

main {
    width: 55%;
}

/* Text-styling */
p, h1, h2, h3 {
    padding: 10px;
}
